PORT=3000
NODE_ENV=production
JWT_SECRET=teamfit_force_super_secret_jwt_key_2026
CORS_ORIGIN=*

# AWS & DynamoDB
AWS_ACCESS_KEY_ID=tu_aws_access_key
AWS_SECRET_ACCESS_KEY=tu_aws_secret_key
AWS_REGION=us-east-1
OPENAI_API_KEY=tu_openai_api_key

# Tablas DynamoDB TeamFit
DYNAMODB_TABLE_USERS=TeamFit_Users
DYNAMODB_TABLE_BIOMETRICS=TeamFit_Biometrics
DYNAMODB_TABLE_NUTRITION=TeamFit_Nutrition
DYNAMODB_TABLE_RECIPES=TeamFit_Recipes
DYNAMODB_TABLE_SMOOTHIES=TeamFit_Smoothies
DYNAMODB_TABLE_ROUTINES=TeamFit_Routines
DYNAMODB_TABLE_BIOMARKERS=TeamFit_Biomarkers
DYNAMODB_TABLE_COACH=TeamFit_CoachMessages

DB_TYPE=dynamodb
UPLOAD_PATH=./uploads
